In [3]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

ModuleNotFoundError: No module named 'config'

In [9]:
%load_ext sql

In [10]:
DB_ENDPOINT = "localhost"
DB = 'bags_db'
DB_USER = 'postgres'
DB_PASSWORD = password
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://postgres:postgres@localhost:5432/bags_db

In [11]:
%sql $conn_string

'Connected: postgres@bags_db'

In [20]:
csv_file = "./all_bags.csv"
all_bags_df = pd.read_csv(csv_file)
all_bags_df.head()

,Unnamed: 0,Name,Brand,Price,Type,Material,Source
0,0,Emily Chain Flap Bag Leather Small,Gucci,495.0,Other,General Leather,rebag
1,1,GG Marmont Continental Wallet...,Gucci,505.0,Other,Other/Unknown,rebag
2,2,Zip Top Messenger Bag GG Imprime Small,Gucci,470.0,Messenger,Other/Unknown,rebag
3,3,Dionysus Chain Wallet Leather with...,Gucci,1485.0,Other,General Leather,rebag
4,4,Bright Bucket Bag Diamante Leather Large,Gucci,485.0,Other,General Leather,rebag

In [17]:
rds_connection_string = DB_USER + ":" + password + "@localhost:5432/bags_db"

engine = create_engine(f'postgresql://{rds_connection_string}')

In [22]:
engine.table_names()

['all_bags']

In [21]:
all_bags_df.to_sql(name='all_bags', con=engine, if_exists='append', index=False)

In [23]:
pd.read_sql_query('select * from all_bags', con=engine).head()

,Unnamed: 0,Name,Brand,Price,Type,Material,Source
0,0,Emily Chain Flap Bag Leather Small,Gucci,495.0,Other,General Leather,rebag
1,1,GG Marmont Continental Wallet...,Gucci,505.0,Other,Other/Unknown,rebag
2,2,Zip Top Messenger Bag GG Imprime Small,Gucci,470.0,Messenger,Other/Unknown,rebag
3,3,Dionysus Chain Wallet Leather with...,Gucci,1485.0,Other,General Leather,rebag
4,4,Bright Bucket Bag Diamante Leather Large,Gucci,485.0,Other,General Leather,rebag

In [24]:
csv_file = "./bag_summary.csv"
bag_summary_df = pd.read_csv(csv_file)
bag_summary_df.head()

           Brand  Brands Count Average Price
0          Gucci         13146       $709.20
1         Chanel         11021     $2,252.14
2  Louis Vuitton          8633       $718.70
3          Prada          8356       $614.35
4         Hermes          7309     $4,126.06

In [25]:
bag_summary_df.to_sql(name='bag_summary', con=engine, if_exists='append', index=False)

In [26]:
pd.read_sql_query('select * from bag_summary', con=engine).head()

           Brand  Brands Count Average Price
0          Gucci         13146       $709.20
1         Chanel         11021     $2,252.14
2  Louis Vuitton          8633       $718.70
3          Prada          8356       $614.35
4         Hermes          7309     $4,126.06

In [27]:
engine.table_names()

['all_bags', 'bag_summary']

# Schema
``` sql
CREATE TABLE public.all_bags
(
    "Unnamed: 0" bigint,
    "Name" text COLLATE pg_catalog."default",
    "Brand" text COLLATE pg_catalog."default",
    "Price" double precision,
    "Type" text COLLATE pg_catalog."default",
    "Material" text COLLATE pg_catalog."default",
    "Source" text COLLATE pg_catalog."default"
);
```